.flex-container
{
    display: flex;
    flex-direction: column;
}

/* this selector selects all divs inside of the .flex-container */
.flex-container > div
{
    background: peachpuff;
    border: 4px solid brown;
    height: 75vh;
    flex: 1 1 auto;
}

.flex-container #gameboard
{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.flex-container #gameboard .cell
{
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard-message
{
    text-align: center;
}